%h2.text-center Edit Event

= form_tag events_path, :class => 'bg-light p-3 mt-3 rounded-lg' do
  .form-row
    .form-group.col-md-6
      = label :event, 'Name'
      = text_field :event, :name, :type => 'text', :class => 'form-control', :id => 'name'
    .form-group.col-md-6   
      = label :event, 'Description'
      = text_field :event, :description, :type => 'text', :class => 'form-control', :id => 'description'
    .form-group.col-md-6
      = label :event, 'location'
      = text_field :event, :location, :type => 'text', :class => 'form-control', :id => 'location'
    .form-group.col-md-6
      = label :event, 'Start Date'
      = date_field :event, :start_date,:type => 'date', :class => 'form-control', :id => 'start_date'
    .form-group.col-md-6
      = label :event, 'End Date'
      = date_field :event, :end_date,:type => 'date', :class => 'form-control', :id => 'end_date'
    .form-group.col-md-6
      = label :event, 'Contact'
      = text_field :event,  :type => 'text', :class => 'form-control', :id => 'contact'
    .form-group.col-md-6
      = label :event, :id, 'Number of Seats'
      = number_field :event, :seats, :type => 'integer', :class => 'form-control', :id => 'seats'
  .col-md-12.text-center
    = submit_tag 'Save', :class => 'btn btn-secondary btn-lg rounded-pill', :id => 'save_changes'
