%h2.text-center #{@event.name}

.bg-dark.p-3.m-3.rounded-lg
  %ul.list-group.list-group-flush
    %li.list-group-item
      %b Description:
      =@event.description
    %li.list-group-item
      %b Location:   
      =@event.location
    %li.list-group-item
      %b Start Date:   
      =@event.start_date      
    %li.list-group-item
      %b End Date:   
      =@event.end_date
    %li.list-group-item
      %b Contact:   
      =@event.contact      
    %li.list-group-item
      %b Number of seats:   
      =@event.seats
  %div
    .row.mt-3
      .col-lg-3
        = button_to "RSVP", rsvp_path, :method => :post, :class => 'btn btn-success btn-block btn-lg rounded-pill', :id => 'rsvp_event'
      .col-lg-3
        = button_to "Leave", rsvp_path, :method => :post, :class => 'btn btn-warning btn-block btn-lg rounded-pill', :id => 'leave_event'
    
      .col-lg-3
        = button_to "Edit", edit_event_path(@event), :method => :get, :class => 'btn btn-secondary btn-block btn-lg rounded-pill', :id => 'edit_event'
      .col-lg-3
        = button_to "Delete", event_path(@event), :method => :delete, :class => 'btn btn-danger btn-block btn-lg rounded-pill', :id => 'delete_event'