!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EventNest
    %link{:crossorigin => 'anonymous', :href => 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', :integrity => 'sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', :rel => 'stylesheet'}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render "layouts/header"
      
      - if flash[:error]
        .alert.alert-danger
          #notice.message= flash[:error]    
      - elsif flash[:notice]
        .alert.alert-success
          #notice.message= flash[:notice]
      - elsif flash[:warning]
        .alert.alert-warning
          #warning.message= flash[:warning]
        
      = yield
      -unless @action == 'login'
        = render "layouts/footer"